body{
    font-family: Arial, sans-serif;
}
.weather-app{
    max-width: 600px;
    margin-bottom: 0;
    margin: 20px auto;
    padding: 20px;
    border:1px solid #dadde1 ;
    border-radius: 5px;
}
.overview{
    margin-bottom: 20px;
}
.weather-temprature img{ 
margin-right: 5px;
height:64px;
width:64px;
}
.weather-temprature{
    text-align:right; 
    display: block; 
    margin-left: 100px;
  padding-bottom:20px;
}
.weather-temprature strong{
    color: rgb(33, 33, 33);
    font-size: 64px;
    line-height:1;
    font-weight: 400;
}
.weather-temprature units{
    position: relative;
    font-size: 16px;
    top:-34; 
    text-align: right;
}
#wind{
    color:royalblue;
}
#humidity{
    color: royalblue;
}
h1{
   color: #878787;
   font-size: 24px;
   font-weight: 100;
   line-height: 28px;
   margin-bottom: 0;
}
ul{
    margin:0;
    padding:0;
}
li{
  list-style: none;  
  margin:0;
  padding:0;
  color: rgb(135, 135, 135);
  font-weight: 100;
  font-size: 16px;
}
li:first-letter{
  text-transform: capitalize;
}
small{
    display: block;
    text-align: center;
    margin-top:50px;

}
 .weather-temprature .active{
color: rgb(33, 33, 33);
cursor: default;
  text-decoration: none;
 }
 .weather-temprature .active:hover{
    text-decoration: none;
 }
.weather-forecast{
    color: black;
    display: flex;
    justify-content: space-between;
    
}
.weather-forecast-date{
    font-size: 16px;
   opacity: 0.5;
   text-align: center ; 
}
.weather-forecast-temp{
    font-size: 13px;
    text-align: center; 
}
.weather-min-temp{
    opacity: 0.5;
}
.forecast-icon {
width: 55px;
height: 55px;
display : block; 
margin: 0 auto;
text-align: center;
}
.forecast-icon img{
    width: 100%;
    height: 100%;

}